@forward 'element-plus/theme-chalk/src/common/var.scss' with (
    $alert: (
        'title-font-size': '15px',
    ),
    $colors: (
        'primary': (
            'base': #33a004,
        ),
    )
);

@use "element-plus/theme-chalk/src/index.scss" as *;

.el-notification__content {
    text-align: left;
}
.el-form--label-top {
    .el-form-item__label {
        line-height: unset;
    }
}
.el-input-number {
    width: auto;
    max-width: 180px;
}
.el-dialog {
    max-width: 500px;
    width: 98%;
}

.list-group {
    .list-group-item-title {
        color: rgb(144, 147, 153);
        font-weight: bold;
    }
}

// list animation
.list-enter-active, .list-leave-active {
	transition: all .3s;
}
.list-enter, .list-leave-to {
	opacity: 0;
	// transform: translateX(10px);
    margin-bottom: -57px;
}