deploy/*.sh text eol=lf
.github/workflows/*.yml text eol=lf
*.ts text eol=lf working-tree-encoding=UTF-8
*.tsx text eol=lf working-tree-encoding=UTF-8
*.vue text eol=lf working-tree-encoding=UTF-8
*.js text eol=lf working-tree-encoding=UTF-8
*.json text eol=lf working-tree-encoding=UTF-8
*.md text eol=lf working-tree-encoding=UTF-8
